<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/style.css">
    <title>Diplomacy Today</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/embed/favicon.ico">
    <meta property="og:title" content="Diplomacy Today">
    <meta property="og:description" content="Accurate reporting on geopolitical developments in europe at the turn of the century">
    <meta property="og:image" content="/embed/D.png">
    <script src="static/theme.js" defer></script>
</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
			<div class="weatherforcastbox"><span style="font-style: italic;">Standing:
				{% for stand in standing %}
				{{ stand }};

				{% endfor %}
				</span></div>
      <header> {{ breaking }}</header>
    </div>
    <div class="subhead"> {{ breaking_desc }} </div>
    
    <div class="subhead">Geneva, Ch - <span id="season">{{season}}</span></div>
</div>
<div class="content">
    <div class="collumns">
			{% for news_piece in news_list %}
        <div class="collumn">
					<div class="head"><span class="headline hl3">{{ news_piece.newsline[0] }}</span><p><span class="headline hl4">{{ news_piece.newsline[1] }}</span></p></div>

				<figure class="figure">
					{% if "battle_map" in news_piece.summary %}
					<img class="media" src={{news_piece.summary.battle_map}} alt="">
									<!-- <figcaption class="figcaption">Hermine hoping for courage.</figcaption> -->
							</figure>

					{% endif %}
					{{ news_piece.newsline[2] }}
				</div>
			{% endfor %}
</div>
<footer>
  <p>
    <a href="/diplomacy/login" class="btn btn-primary btn-block">Login</a>
    <a href="/diplomacy/menu" class="btn btn-primary btn-block">Archive</a>
    <!-- Does this show up in the remote? -->
  </p>
</footer>
</body>
</html>
